<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Maggies Reservation</title>
</head>

<body>
    <h1>All Reservations</h1>
    <form action="/reservations/new">
        <button>Make Reservation</button>
    </form>
    <ul>
        <% for (let reservation of reservations) { %>
            <li>
                <%= reservation.name %>: <%= reservation.date %>
                        <%=reservation.startTime %>-<%=reservation.endTime%> <a
                                    href="/reservations/<%= reservation._id  %>">Details</a>
            </li>
            <% } %>
    </ul>
</body>

</html>